<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <title>Session - Code Judge</title>
    <link
      rel="stylesheet"
      href="{% static 'home/semantic/semantic.min.css' %}"
    />
    <style>
      body {
        background-color: whitesmoke;
      }
    </style>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src=" {% static 'home/img/logo.png' %}" />
          Code Judge
        </a>
        <a href="#" class="right floated item"
          >Student :&nbsp; <span id="rollNo">{{ data.username }}</span></a
        >
        <a href="/signout/" class="right floated item" id="logOut">Log Out</a>
      </div>
    </div>
    <div id="maincontent" style="margin: 80px auto 0 auto">
      <div class="ui container">
        <div class="ui cards">
          <div class="ui centered card">
            <div class="content">
              <div class="header" id="status">

              </div>
              <div class="meta" id="statusText">Session running</div>
            </div>
          </div>
          <div class="ui centered card">
            <div class="content">
              <div class="header">
                <a href="scoreboard/">Scoreboard/Report</a>
              </div>
              <div class="meta">Details about the session</div>
            </div>
          </div>
        </div>
        <table class="ui selectable celled table" id="questions">
          <thead>
            <tr>
              <th class="center aligned two wide" >Sl. No.</th>
              <th class="center aligned twelve wide" >Questions</th>
              <th class="center aligned two wide" >Link</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <script src="{% static 'home/semantic/jquery.js' %}"></script>
    <script src="{% static 'home/semantic/semantic.min.js' %}"></script>
    {{ data.questions|json_script:"data-script" }}
    {{ data.status|json_script:"timer-script" }}
    <script src="{% static 'home/js/timer/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'home/js/timer/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'home/js/session.js' %}"></script>
  </body>
</html>
